
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url("https://fonts.google.com/specimen/Inter?preview.text=recent&preview.text_type=custom&query=inter");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');



.outer1{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.first1{
    padding: 0 190px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    align-items: center;
}
.links{
    display: flex;
    color: #637AAA;
    font-family: 'Inter';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
}
.link-span {
    padding-bottom: 3px;
    margin-left: 5px;
    /* Set a transparent border-bottom initially */
    border-bottom: 1.5px solid transparent;

    /* Define the radial gradient */
    /* background-image: radial-gradient(circle, #040F25 20%, #0CA4E6 43%, #0CA4E6 51%, #040F25 82%); */
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.link-span:hover {
    /* Set the border-image with the radial gradient on hover */
    border-image: radial-gradient(circle, #040F25 20%, #0CA4E6 43%, #0CA4E6 51%, #040F25 82%) 1;

    /* Reset the background-image, so it doesn't interfere with the border */
    background-image: none;
}

.second1{
    color: #23488D;
    width: 100%;
    text-align: center;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.quatro{
    display: flex;
    color: #23488D;
    text-align: center;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.rights{
    display: flex;
    align-items: center;
}
a{
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
img{
    object-fit: contain;
}
.logos{
    object-fit: contain;
}
.quatro-link{
    padding-bottom: 4px;
}